section{
    height: 100vh;
    width: 100%;
    position: relative;
}

#section1 {
    background: url(../images/back1.jpg) 100% 0 no-repeat fixed;
    background-size: cover;
}

#section2 {
    background: url(../images/back2.jpg) 100% 0 no-repeat fixed;
    background-size: cover;
}

#foreground1, #foreground2 {
    height: 500px;
    width: 400px;
    top: 291px;
    left: 200px;
    position: absolute;
}

#foreground2{
    left:auto;
    right:200px;
}

h2{
    font-size: 4em;
}
p{
    font-size: 2em;
}
